* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}

.done {
  text-decoration: line-through;
}

#text-brand {
  /* background-color: #61d4b3; */
  font-weight: bold;
  color: #61d4b3;
  font-size: 3rem;
}

#form {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

#form:hover {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

#input-text {
  background: none;
  margin-left: 8px;
}

.fa-plus {
  color: #61d4b3;
  cursor: pointer;
  transition: 0.3s;
}

.fa-plus:hover {
  transform: scale(1.1);
}

#button-add {
  border: 0;
  background: none;
  padding-right: 18px;
  padding-left: 18px;
}

.fa-times {
  color: rgb(240, 94, 94);
  cursor: pointer;
  transition: 0.3s;
}

.fa-times:hover {
  transform: scale(1.1);
}

.a-link {
  color: rgb(240, 94, 94);
}

.a-link:hover {
  color: #61d4b3;
}
