* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}

.done {
  text-decoration: line-through;
}

#text-brand {
  background-color: #61d4b3;
  font-weight: bold;
}

.fa-times {
  color: red;
  cursor: pointer;
}
/* #button-add {
  position: absolute;
  border: 0;
  background: none;
}

.fa-plus {
  color: green;
  cursor: pointer;
} */
